src/main/mule/implementation/post-customer-details.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:snowflake="http://www.mulesoft.org/schema/mule/snowflake" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/snowflake http://www.mulesoft.org/schema/mule/snowflake/current/mule-snowflake.xsd">
	<flow name="post-customer-detailsFlow" doc:id="925f8916-5ac6-426e-b818-645937ac4727" >
		<ee:transform doc:name="Transform Message" doc:id="213b6742-062a-4be3-b27c-7ed56cc4f69a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<snowflake:insert doc:name="Insert" doc:id="d26799ce-507c-48c0-bb44-1d8884d92034" config-ref="Snowflake_Config1">
			<snowflake:sql ><![CDATA[${sql.query}]]></snowflake:sql>
			<snowflake:input-parameters ><![CDATA[#[{
firstname: payload.first_name,
lastname: payload.last_name,
dob: payload.DOB,
pancard: payload.Pancard,
occupation: payload.Occupation,
income: payload.Income,
email: payload.Email,
password: payload.Password
}]]]></snowflake:input-parameters>
		</snowflake:insert>
		<snowflake:select doc:name="Select" doc:id="2dcf7093-757d-4a5d-82da-5061611ea356" config-ref="Snowflake_Config1">
			<snowflake:sql ><![CDATA[select * from "LOAN_APPLICATION"."PUBLIC"."CUSTOMER_REGISTRATION" order by USERID desc limit 1]]></snowflake:sql>
		</snowflake:select>
		<ee:transform doc:name="Transform Message" doc:id="3e03681f-4203-409c-8edc-9a06e2aaab61" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	user_id: payload[0].USERID,
	message: "Customer details updated"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
