src/main/mule/post-loan-details.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:snowflake="http://www.mulesoft.org/schema/mule/snowflake" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/snowflake http://www.mulesoft.org/schema/mule/snowflake/current/mule-snowflake.xsd">
	<flow name="post-loan-details" doc:id="dcecfd2a-d575-45c5-9b0c-758587abd34b" >
		<ee:transform doc:name="Transform Message" doc:id="5a0daf70-5458-42ae-82d2-0a5e4a4423e6" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<snowflake:insert doc:name="Insert" doc:id="9203b4a4-195e-4f2b-b9a4-6320dfaa84c4" config-ref="Snowflake_Config1">
			<snowflake:sql ><![CDATA[${sql1.query}]]></snowflake:sql>
			<snowflake:input-parameters ><![CDATA[#[{
userid: payload.USER_ID,
email: payload.Email,
loan_amount: payload.Loan_Amount,
tenure: payload.Tenure,
interest: payload.Interest,
types: payload.Type
}]]]></snowflake:input-parameters>
		</snowflake:insert>
		<ee:transform doc:name="Transform Message" doc:id="4b7743b3-06e2-451c-9636-4242f5bc3c00" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message: "Loan details updated"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
